<header>
    <div class="logo-set">
        <div class="header-image">
            <img class="inner-image" src="./image/logo.png" alt="logo">
        </div>
        <div class="header-line">
            <img class= "inner-line" src="/image/header-line.svg" alt="logo-line">
        </div>
    </div>
    <div class="header-menu">
        <span>Open today: 10:30 am-6 pm</span>
        <button class="btn gradient" onclick="location.href='#'">
            advance biennial tickets
        </button>
        <button class="btn" onclick="location.href='#'">
            become a member
        </button>
    </div>
</header>