<div class="div-line"></div>
    <div class="card-inline-set">
        <div class="card-inline-image">
            <img src="#" alt="">
        </div>
        <div class="card-inline">
            <h3>NEW FREE DAYS</h3>
            <h3>FREE FRIDAY NIGHTS AND SECOND SUNDAYS</h3>
            <p>Admission to the Whitney is free from 5–10 pm
                every Friday evening and on the second Sunday of every
                month. Join us for free access to exhibitions, special
                programming, views, and more.Though admission is free,
                tickets are required.</p>
            <button class="btnWide" onclick="location.href='#'">
                learn more
            </button>
        </div>
    </div>