<div class="div-line"></div>
    <div class="div-inline-title">
        <h3>
            dive into our collection
        </h3>
        <a class="View-all-btn" href="#">View all</a>
    </div>
    <ul class="collection-list" style="padding-left: 0px;">
        <li class="list-item">
            <a href="">
                <img class="list-image" src="" alt="">
                <p>artist</p>
                <p>titletext</p>
                <p>2002</p>
            </a>
        </li>
        <li class="list-item">
            <a href="">
                <img class="list-image" src="" alt="">
                <p>artist</p>
                <p>titletext</p>
                <p>2002</p>
            </a>
        </li>
        <li class="list-item">
            <a href="">
                <img class="list-image" src="" alt="">
                <p>artist</p>
                <p>titletext</p>
                <p>2002</p>
            </a>
        </li>
        <li class="list-item">
            <a href="">
                <img class="list-image" src="" alt="">
                <p>artist</p>
                <p>titletext</p>
                <p>2002</p>
            </a>
        </li>
        <li class="list-item">
            <a href="">
                <img class="list-image" src="" alt="">
                <p>artist</p>
                <p>titletext</p>
                <p>2002</p>
            </a>
        </li>
        <li class="list-item">
            <a href="">
                <img class="list-image" src="" alt="">
                <p>artist</p>
                <p>titletext</p>
                <p>2002</p>
            </a>
        </li>
    </ul>