<div class="div-line"></div>
    <div class="media-content">
        <div class="card">
            <div class="card-image image-short">
                <img src="" alt="">
            </div>
            <h3>VIDEO
            </h3>
            <p>
                Watch our latest video 
                series to dive deeper into art at the Whitney.
            </p>
        </div>
        <div class="card">
            <div class="card-image image-short">
                <img src="" alt="">
            </div>
            <h3>PODCASTS
            </h3>
            <p>
                Listen to Artists Among Us, our newest
                mode of storytelling by which we consider
                the complexities and contradictions that have
                culminated in the United States we experience today.
            </p>
        </div>
        <div class="card">
            <div class="card-image image-short">
                <img src="" alt="">
            </div>
            <h3>ARTPORT
            </h3>
            <p>
                Check out art that's created specifically 
                for the web on artport—the Whitney's gallery 
                space for Internet and new-media art.
            </p>
        </div>
    </div>