<div class="div-line"></div>
    <div class="footer-link-inline">
        <div class="link-inline">
            <a href="">Privacy policy</a>
            <a href="">Terms & conditions</a>
            <a href="">About whitney.org</a>
            <label for="dark-mode" class="checkbox">
                <input id="dark-mode" class="checkbox-input" type="checkbox">Dark
            </label>
        </div>
        <div class="copy">
            &copy; 2024 Whitney Museum of American Art
        </div>
    </div>