<footer>
    <div class="footer-right">
        <div class="footer-link">
            <h3>HERE</br>TO HELP</h3>
            <ul style="padding-left: 0px;">
                <li><a href="">Contect us</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Accesbility</a></li>
            </ul>
        </div>
        <div class="footer-link">
            <h3>GET</br>INVOLVED</h3>
            <ul style="padding-left: 0px;">
                <li><a href="">Support us</a></li>
                <li><a href="">Membership</a></li>
                <li><a href="">Jobs & Internships</a></li>
                <li><a href="">Independent Study</br>Program</a></li>
            </ul>
        </div>
        <div class="footer-link">
            <h3>MISSION</br>& VALUE</h3>
            <ul style="padding-left: 0px;">
                <li><a href="">About us</a></li>
                <li><a href="">Land acknowledgment</a></li>
            </ul>
        </div>
    </div class="footer-link-set">
</footer>